<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miaoyidj.miniprogram.mapper.ButtonMapper">
    <select id="selectAllButton" resultType="com.miaoyidj.miniprogram.entity.Button">
        SELECT b_id,b_base,b_give,b_remark FROM button
    </select>
</mapper>