<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miaoyidj.miniprogram.mapper.ReviewMapper">
    <resultMap id="review" type="com.miaoyidj.miniprogram.entity.UserReview" autoMapping="true">
        <id column="r_id" property="rId"/>
        <collection property="user" column="u_id" ofType="com.miaoyidj.miniprogram.entity.User" autoMapping="true"/>
    </resultMap>
    <select id="selectLastReview" resultMap="review">
      SELECT <include refid="reviewColumn"/> FROM review r, `user` u
      WHERE r.u_id = u.u_id
      AND r.r_id = (SELECT MAX(r_id) FROM review)
      AND r.r_rate >= 4
    </select>
    <select id="selectAllReview" resultMap="review">
        SELECT <include refid="reviewColumn"/> FROM review r, `user` u
        WHERE r.u_id = u.u_id AND r.p_id = #{productId}
    </select>
    <sql id="reviewColumn">r.r_id,r.u_id,r.r_content,r.r_review_time,r.r_rate,r.p_id,u.u_id,
          u.u_name,u.u_status,u.u_openid,u.u_points,u.u_member_money,u_avatar</sql>
</mapper>