<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miaoyidj.miniprogram.mapper.User2couponMapper">
    <resultMap id="UserCouponMap" type="com.miaoyidj.miniprogram.entity.UserCoupon" autoMapping="true">
        <id column="uc_id" property="ucId"/>
        <collection property="user" column="u_id" ofType="com.miaoyidj.miniprogram.entity.User" autoMapping="true"/>
        <collection property="coupon" column="c_id" ofType="com.miaoyidj.miniprogram.entity.Coupon" autoMapping="true"/>
    </resultMap>
    <select id="selectUserCoupon" resultType="com.miaoyidj.miniprogram.entity.Coupon">
      SELECT <include refid="CouponColumn"/> FROM user2coupon uc, coupon c WHERE uc.c_id = c.c_id AND uc.uc_status = 0 AND NOW() &lt; c.c_aging AND uc.u_id = #{userId}
    </select>
    <sql id="UserCouponColumn">uc.uc_id,uc.uc_mobile,uc.uc_status,u.u_id,u.u_name,u.u_openid,u.u_points,u.u_status,u.u_member_money,u.u_avatar,c.c_id,
c.c_name,c.c_value,c.c_status,c.c_aging</sql>
    <sql id="CouponColumn">c.c_id,c.c_name,c.c_value,c.c_status,c.c_aging</sql>
</mapper>